@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --main-color: 178, 114, 160;
    --accent-color: 148, 99, 150;
}

body {
    min-height: 100vh;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(246, 249, 255);
}

@keyframes spinIt {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#container {
    width: 300px;
    justify-self: center;
}

#input-area {
    display: flex;
    justify-content: flex-start;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

#operators {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#display {
    flex: 1;
    border: solid 2px rgb(var(--main-color));
    box-shadow: -2px 0 rgb(166, 215, 255), 0 2px rgb(155, 255, 152), 2px 0 rgb(255, 255, 157), 0 -2px rgb(225, 142, 142);
    border-radius: 10px;
    background-color: rgb(var(--main-color), 0.3);
    padding: 10px;
    min-height: 57px;
    margin-bottom: 10px;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    color: rgb(var(--accent-color));
}

#display:hover {
    /* transform: scale(120%); */
}

button {
    border-radius: 5px;
    border-color: white;
    background-color: rgba(var(--main-color), 0.5);
    margin: 5px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(var(--accent-color));
    height: 60px;
    aspect-ratio: 1 / 1; 
    box-shadow: -2px 0 rgb(166, 215, 255), 0 2px rgb(155, 255, 152), 2px 0 rgb(255, 255, 157), 0 -2px rgb(225, 142, 142);
    animation: spinIt 1s linear;
    animation-play-state: paused;
}

button#clear {
    width: 200px;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

button:hover {
    animation-play-state: running;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    color: rgb(var(--main-color));
    text-shadow:  -2px 0 rgb(166, 215, 255), 0 2px rgb(155, 255, 152), 2px 0 rgb(255, 255, 157), 0 -2px rgb(225, 142, 142);
}

h1:hover {
    color: rgb(var(--accent-color));
    /* transform: scale(120%); */
}

.icon {
    height: 50px;
    position: absolute;
    margin-left: 20rem;
}

.icon:hover {
    /* transform: scale(120%); */
}

a {
    color: rgb(var(--main-color));
    font-size: 0.5rem;
}

#credits {
    text-align: center;
}
