@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --main-color: 126, 184, 184;
}

body {
    min-height: 100vh;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 300px;
    justify-self: center;
}

#input-area {
    display: flex;
    justify-content: flex-start;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

#operators {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#display {
    border: solid 2px black;
    border-radius: 10px;
    flex: 1;
    background-color: rgb(var(--main-color), 0.5);
    padding: 10px;
    min-height: 57px;
    margin-bottom: 10px;
}

button {
    border-radius: 5px;
    background-color: rgb(var(--main-color));
    margin: 5px;
    padding: 20px;
    font-weight: bold;
    height: 60px;
    aspect-ratio: 1 / 1; 
}

button#clear {
    width: 200px;
}

h1 {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
}

